# Ruby Gems
*.gem

# Design Files
*.psd
*.ai

# Folders
_site.*
_posts/.obsidian/workspace
_posts/.obsidian/config
_posts/.obsidian/cache
_lgbtq/.obsidian/workspace
_lgbtq/.obsidian/config
_lgbtq/.obsidian/cache
pages/.obsidian/cache
pages/.obsidian/config
pages/.obsidian/workspace
_projects/.obsidian/config
_projects/.obsidian/workspace
